button#restart {
  background-color: $player-2-light;
  border: none;
  color: hsl(0, 0%, 100%);
  @include transition;

  @include md {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
  }

  &:hover {
    background-color: $player-2-dark;
  }
}

input#highscore {
  width: 3rem;
  padding: 0.2rem;
  text-align: center;
  background-color: transparent;
  border: none;
  color: $player-2-light;
  z-index: 10;
}

.grid-btn {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: $cell-bg;
  position: relative;
  @include transition;

  &:hover {
    @include scale;
  }
}

.hero {
  position: absolute;
  width: 18rem;
  height: auto;
  top: 80%;
  opacity: 0;
  transition: all 1.5s;
  z-index: -1;
  margin: 0 auto;

  @include md {
    top: 2.8rem;
  }

  &--show {
    opacity: 0.4;
    z-index: 3;
  }
}

.player-1-hero {
  @extend .hero;

  width: 16rem;
  left: 1rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  @include md {
    left: 40%;
  }
}

.player-2-hero {
  @extend .hero;
  right: 0.5rem;

  @include md {
    right: 5%;
  }
}

button:focus,
input:focus {
  outline: none;
}
