body {
  position: relative;
  //overflow-x: hidden;
  background-color: $main-bg;
}
body:after {
  content: "";
  clip-path: polygon(0 45%, 100% 38%, 100% 150%, 0% 100%);
  background-color: $clip-path-bg;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;

  @include md {
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 30% 100%);
  }
}
header {
  padding: 1rem 0 3rem 0;
  text-align: center;
  font-family: $main-header-font;
  position: fixed;
  z-index: -1;
  width: 95%;

  @include md {
    position: relative;
    z-index: 0;
  }
}
h1 {
  font-family: "Luckiest Guy", cursive;
  color: $player-2-light;
  text-shadow: 4px -3px 1px rgba(138, 1, 0, 0.9);
}
.h1-bigger {
  font-size: 3.1rem;

  @include md {
    font-size: 4.5rem;
  }
}
h3 {
  font-size: 1.5rem;
  @include md {
    font-size: 1.8rem;
  }
}
h4 {
  font-size: 1.3rem;
  text-align: center;

  @include md {
    font-size: 1.5rem;
  }
}
table {
  width: 15rem;
  height: 15rem;
  display: grid;

  @include md {
    width: 20rem;
    height: 20rem;
  }

  tbody {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  tr {
    grid-column: 1 / span 3;
    display: flex;
  }
  td {
    flex: 1;
  }
}
.grid {
  min-width: 270px;
  padding: 1rem 1rem 3rem 1rem;
  position: relative;

  @include md {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    padding: 3rem;
  }
}
.container-smaller {
  padding-top: 25rem;
  width: 15rem;
  margin: 0 auto;
  z-index: 10;

  @include md {
    padding-top: 0;
    width: 20rem;
  }
}
.row {
  margin-top: 1rem;
}

.feedback-row {
  height: 2rem;
  font-style: italic;
  color: $cell-bg;

  @include md {
    height: 4rem;
    font-size: 1.3rem;
  }
}

.saber {
  width: 80%;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  @include transition;
}
.player-1-saber {
  @extend .saber;
}
.player-2-saber {
  @extend .saber;
}
.player-1--hover {
  &:hover {
    background-color: $player-1-light;
  }
}
.player-2--hover {
  &:hover {
    background-color: $player-2-light;
  }
}
.player-1--clicked {
  background-color: $player-1-dark;
}
.player-2--clicked {
  background-color: $player-2-dark;
}
