$main-bg: rgb(0, 0, 0);
$clip-path-bg: hsl(133, 100%, 39%);
$cell-bg: hsl(44, 86%, 59%);
$player-1-light: hsl(133, 100%, 39%);
$player-1-dark: hsl(133, 100%, 11%);
$player-2-light: hsl(0, 100%, 50%);
$player-2-dark: hsl(0, 100%, 21%);

$main-header-font: "Racing Sans One", cursive;
