$main-bg: rgb(0, 0, 0);
$clip-path-bg: #00c92b;
$cell-bg: #f0c03e;
$player-1-light: #00c92b;
$player-1-dark: #003a0d;
$player-2-light: hsla(0, 100%, 50%, 0.8);
$player-2-dark: hsl(0, 100%, 21%);

$main-header-font: "Racing Sans One", cursive;
