body {
  position: relative;
  background-color: black; }

header {
  padding-top: 1rem;
  text-align: center;
  font-family: "Racing Sans One", cursive; }

body:after {
  content: "";
  -webkit-clip-path: polygon(0 0, 46% 0, 30% 100%, 0 100%);
  clip-path: polygon(0 0, 46% 0, 30% 100%, 0 100%);
  background-color: #00c92b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

button#restart {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  button#restart:hover {
    background-color: #6b0000; }

h1 {
  font-family: "Luckiest Guy", cursive;
  color: rgba(255, 0, 0, 0.8); }

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
  height: 100vh; }

button:focus,
input:focus {
  outline: none; }

input#highscore {
  width: 3rem;
  padding: 0.2rem;
  text-align: center;
  background-color: transparent;
  border: none;
  color: rgba(255, 0, 0, 0.8); }

.container-smaller {
  width: 20rem;
  margin: 0 auto;
  z-index: 3; }

.row {
  margin-top: 1rem; }

table {
  width: 20rem;
  height: 20rem;
  display: grid;
  border-spacing: 0; }
  table tbody {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
  table tr {
    grid-column: 1 / span 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  table td {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.half-width {
  width: 50%; }

.full-width {
  width: 100%; }

.flex-center-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.grid-btn {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #f0c03e;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .grid-btn:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02); }

.player-1,
#player-1-score {
  color: #00c92b; }

.player-2,
#player-2-score {
  color: rgba(255, 0, 0, 0.8); }

.saber, .player-1-saber, .player-2-saber {
  width: 80%;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.player-1--hover:hover {
  background-color: #00c92b; }

.player-2--hover:hover {
  background-color: rgba(255, 0, 0, 0.8); }

.player-1--clicked {
  background-color: #003a0d; }

.player-2--clicked {
  background-color: #6b0000; }

.show {
  opacity: 1; }

.hide {
  opacity: 0; }

.feedback-row {
  height: 4rem;
  font-size: 1.3rem;
  font-style: italic;
  color: #f0c03e; }

.hero, .player-1-hero, .player-2-hero {
  position: absolute;
  width: 18rem;
  height: auto;
  top: 2.8rem;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s; }
  .hero--show {
    opacity: 0.4; }

.player-1-hero {
  left: 40%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-right-radius: 50%; }

.player-2-hero {
  right: 5%; }
