/*------Variables--------*/
/*-------Mixins--------*/
/*--Breakpoints--*/
/*-------Utility Classes------*/
.half-width {
  width: 50%; }

.full-width {
  width: 100%; }

.show {
  opacity: 1; }

.hide {
  opacity: 0; }

.flex-center-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-1,
#player-1-score {
  color: #00c72b;
  text-shadow: 4px 1px 1px rgba(17, 11, 11, 0.9); }

.player-2,
#player-2-score {
  color: red;
  text-shadow: 4px 1px 1px rgba(17, 11, 11, 0.9); }

button#restart {
  background-color: red;
  border: none;
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  @media (min-width: 860px) {
    button#restart {
      font-size: 1.2rem;
      padding: 0.5rem 1.2rem; } }
  button#restart:hover {
    background-color: #6b0000; }

input#highscore {
  width: 3rem;
  padding: 0.2rem;
  text-align: center;
  background-color: transparent;
  border: none;
  color: red;
  z-index: 10; }

.grid-btn {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #f0c03d;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .grid-btn:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02); }

.hero, .player-1-hero, .player-2-hero {
  position: absolute;
  width: 18rem;
  height: auto;
  top: 80%;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
  z-index: -1;
  margin: 0 auto; }
  @media (min-width: 860px) {
    .hero, .player-1-hero, .player-2-hero {
      top: 2.8rem; } }
  .hero--show {
    opacity: 0.4;
    z-index: 3; }

.player-1-hero {
  width: 16rem;
  left: 1rem;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-right-radius: 50%; }
  @media (min-width: 860px) {
    .player-1-hero {
      left: 40%; } }

.player-2-hero {
  right: 0.5rem; }
  @media (min-width: 860px) {
    .player-2-hero {
      right: 5%; } }

button:focus,
input:focus {
  outline: none; }

body {
  position: relative;
  overflow-x: hidden;
  background-color: #00c72b; }

body:after {
  content: "";
  -webkit-clip-path: polygon(0 45%, 100% 38%, 100% 150%, 0% 100%);
  clip-path: polygon(0 45%, 100% 38%, 100% 150%, 0% 100%);
  background-color: black;
  -webkit-transform: translateY(43%);
  -moz-transform: translateY(43%);
  -ms-transform: translateY(43%);
  -o-transform: translateY(43%);
  transform: translateY(43%);
  width: 100%;
  height: 180%;
  bottom: 0;
  position: absolute;
  z-index: -1; }
  @media (min-width: 860px) {
    body:after {
      -webkit-clip-path: polygon(46% 0, 100% 0, 100% 100%, 30% 100%);
      clip-path: polygon(46% 0, 100% 0, 100% 100%, 30% 100%);
      height: 100%;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); } }

header {
  min-width: 270px;
  padding: 1rem 0.5rem 3rem 0.5rem;
  text-align: center;
  font-family: "Racing Sans One", cursive;
  position: fixed;
  width: 100%; }
  @media (min-width: 860px) {
    header {
      position: relative;
      z-index: 0; } }

h1 {
  font-family: "Luckiest Guy", cursive;
  color: red;
  text-shadow: 4px -3px 1px rgba(138, 1, 0, 0.9); }

.h1-bigger {
  font-size: 3.1rem; }
  @media (min-width: 860px) {
    .h1-bigger {
      font-size: 4.5rem; } }

h3 {
  font-size: 1.5rem; }
  @media (min-width: 860px) {
    h3 {
      font-size: 1.8rem; } }

h4 {
  font-size: 1.3rem;
  text-align: center; }
  @media (min-width: 860px) {
    h4 {
      font-size: 1.5rem; } }

table {
  width: 15rem;
  height: 15rem;
  display: grid; }
  @media (min-width: 860px) {
    table {
      width: 20rem;
      height: 20rem; } }
  table tbody {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
  table tr {
    grid-column: 1 / span 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  table td {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.grid {
  min-width: 270px;
  position: relative; }
  @media (min-width: 860px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      height: 100vh;
      padding: 3rem; } }

.container-smaller {
  width: 15rem;
  -webkit-transform: translateY(76%);
  -moz-transform: translateY(76%);
  -ms-transform: translateY(76%);
  -o-transform: translateY(76%);
  transform: translateY(76%);
  padding-bottom: 3rem;
  margin: 0 auto; }
  @media (min-width: 860px) {
    .container-smaller {
      width: 20rem;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); } }

.row {
  margin-top: 1rem; }

.feedback-row {
  height: 2rem;
  font-style: italic;
  color: #f0c03d; }
  @media (min-width: 860px) {
    .feedback-row {
      height: 4rem;
      font-size: 1.3rem; } }

.saber, .player-1-saber, .player-2-saber {
  width: 80%;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.player-1--hover:hover {
  background-color: #00c72b; }

.player-2--hover:hover {
  background-color: red; }

.player-1--clicked {
  background-color: #00380c; }

.player-2--clicked {
  background-color: #6b0000; }
